﻿<div class="jumbotron">
    <h1>Create The Great In You</h1>
    <p class="lead">View Values in tables</p>
    <p><a href="http://storyboardapi20170314091148.azurewebsites.net/Api/Mentors" class="btn btn-primary btn-lg">Show mentors &raquo;</a></p>
    <p><a href="http://storyboardapi20170314091148.azurewebsites.net/Api/Mentees" class="btn btn-primary btn-lg">Show mentees &raquo;</a></p>
</div>

