<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="fill_parent"
    android:layout_height="fill_parent"
    android:id="@+id/FlyOutContent"
    android:background="#ffffffff">
  <View
      android:layout_width="fill_parent"
      android:layout_height="1dp"
      android:id="@+id/view1"
      android:background="#81b73a" />
  <FrameLayout
      android:layout_width="fill_parent"
      android:layout_height="wrap_content"
      android:id="@+id/frameLayout1"
      android:background="#81b73a">
    <LinearLayout
        android:orientation="horizontal"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:id="@+id/linearLayout1">
      <View
          android:layout_width="40dp"
          android:layout_height="40dp"
          android:id="@+id/MenuButton"
          android:layout_margin="4dp"
          android:background="@drawable/menu_icon" />
      <TextView
          android:text="Storyboard of Life"
          android:textAppearance="?android:attr/textAppearanceMedium"
          android:layout_width="wrap_content"
          android:layout_height="fill_parent"
          android:id="@+id/textView2"
          android:gravity="center"
          android:textColor="#4E4E4E"
          android:layout_marginLeft="8dp" />
    </LinearLayout>
  </FrameLayout>
  <View
      android:layout_width="fill_parent"
      android:layout_height="1dp"
      android:id="@+id/view2"
      android:background="#81b73a" />
  <TextView
      android:text="Hello, Mentee"
      android:textAppearance="?android:attr/textAppearanceMedium"
      android:layout_width="match_parent"
      android:layout_height="20dp"
      android:id="@+id/textViewM"
      android:gravity="left" />
  <ImageView
      android:id="@+id/st1"
      android:layout_width="wrap_content"
      android:layout_height="100dp"
      android:layout_marginTop="105dp"
      android:layout_marginLeft="-10dp"
      android:src="@drawable/ndfdb" />
  <Button
      android:id="@+id/btnCreateNew"
      android:text="Create New"
      android:layout_width="100dp"
      android:layout_height="wrap_content"
      android:textSize="15dp"
      android:textColor="#fff"
      android:textStyle="bold"
      android:paddingLeft="2dp"
      android:paddingBottom="2dp"
      android:layout_marginTop="105dp"
      android:paddingRight="2dp"
      android:height="50dp"
      android:paddingTop="2dp"
      android:background="@drawable/ButtonSignUpStyle"
      android:layout_marginLeft="5dp" />
</LinearLayout>